.formContainer{
   display: flex;
   padding-top: 1.5%;
}

.profilePicContainer{
    flex-basis:30%;
    height:70vh
}

.profileDetailsContainer{
    flex-basis:30%;
    height: 70vh
}



.familyDetails{
    margin-top:100px;
    /* border:1px solid black */
}


.horoscopeContainer{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    padding-left: 50px;
}




@media only screen and (max-width: 600px) {
  .formContainer{
    display: flex;
    flex-direction: column;
  }

  .profileDetailsContainer{
    padding-left: 20%;
  }
  .horoscopeContainer{
    padding-left: 20%;
  }

  
    
 }